<div class="c-picker-wrapper">
    <div class="c-picker-wrapper__color c-picker-wrapper__color--top-left-rounded c-picker-wrapper__color--bg-primary"></div>
    <div class="c-picker-wrapper__color c-picker-wrapper__color--top-right-rounded c-picker-wrapper__color--bg-secondary c-picker-wrapper__color--ml-auto"></div>
    <div class="c-picker-wrapper__middle"></div>
    <div class="c-picker-wrapper__color c-picker-wrapper__color--bottom-left-rounded c-picker-wrapper__color--bg-tertiary c-picker-wrapper__color--mt-auto"></div>
    <div class="c-picker-wrapper__color c-picker-wrapper__color--bottom-right-rounded c-picker-wrapper__color--bg-quaternary c-picker-wrapper__color--ml-auto c-picker-wrapper__color--mt-auto"></div>
</div>